@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body{
    background:url(/dawn-space-rising-sun-behind-earth-vector-background-99034581.jpg);
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    margin: auto;
    margin-top: 1rem;
    padding: 3rem;
}

.intro{
    color: white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.elements{
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#dateIn{
    width: 100%;
    padding: 8px;
}

#click
{
    background-color: #6cadf8;
    /* border: 2px solid limegreen; */
    padding: 5px;
    cursor: pointer;
    width: 100%;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 6px;
    color: white;
    font-size:larger;
    text-align: center;
}

.foot{
    text-align: justify;
    color: linen;
 }

